#page01 {
  position: relative;
  height: 100vh;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#page01 h1 {
  height: 100%;
  grid-row: 2/3;
  grid-column: 2/4;
  font-size: 75px;
  justify-self: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
#page01 h2 {
  height: 100%;
  grid-row: 3/4;
  grid-column: 2/4;
  font-size: 50px;
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#page01 #page01 a {
  padding-top: 60px;
}
#page01 #page01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}