#page01 {
  height: 1024px;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  h1{
    grid-row: 1/1;
    grid-column: 1/1;
    font-size: 75px;
    justify-self: center;
  }

  h2{
    grid-row: 2/3;
    grid-column: 1/1;
    font-size: 50px;
    justify-self: center;

  }

  .scroll-btn{


  }

}