$font-one: 'Didact Gothic', 'sans-serif';
$font-two: 'Roboto', 'Sans-serif';
$font-three: 'trirong', 'sans-serif';
$font-four: 'Zen Antique Soft', 'sans-serif';
$font-five: 'Zen Kaku Gothic Antique', 'sans-serif';