* {
  margin: 0;
  padding: 0;
}

nav {
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 0px;
  padding-right: 30px;
}

#logo {
  display: inline-block;
  margin-left: 30px;
  width: auto;
  height: auto;
  background-color: grey;
  text-align: center;
}

.rightlinks {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.rightlinks a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

#page01 {
  height: 1024px;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
#page01 h1 {
  grid-row: 1/1;
  grid-column: 1/1;
  font-size: 75px;
  justify-self: center;
}
#page01 h2 {
  grid-row: 2/3;
  grid-column: 1/1;
  font-size: 50px;
  justify-self: center;
}
#page02 {
  height: 1024px;
}

#page03 {
  height: 1024px;
}

#page04 {
  height: 1024px;
}

#page05 {
  height: 1024px;
}

#page06 {
  height: 1024px;
}

/* This code is an example of how to make the scroll call to action button */
.pages .scroll-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.pages .scroll-btn:hover {
  opacity: 0.5;
}

#page01 a {
  padding-top: 60px;
}

#page01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#page02 a {
  padding-top: 60px;
}

#page02 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#page03 a {
  padding-top: 60px;
}

#page03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#page04 a {
  padding-top: 60px;
}

#page04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#page05 a {
  padding-top: 60px;
}

#page05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}