#about-me-page {
  font-family: $font-one;
  position: relative;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.253);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);

  h2 {
    height:100%;
    grid-column: 1/3;
    grid-row: 2/4;
    justify-self: center;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  p {
    height:100%;
    grid-column: 1/3;
    grid-row: 4/5;
    justify-self: center;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }


  // Still need to make image align center on rows
  img { 
    // height:600px;
    width: 50%;
    grid-column: 3/5;
    grid-row: 4/5;
    justify-self: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }


  a {
    padding-top: 60px;

    & > span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
      bottom: 20px;
    }
  }
}