#contact-page {
  font-family: $font-one;
  position: relative;
  height: 100vh;
  background-color: #46454b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact {

    &__title {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      font-size: 75px;
    }

    &__icon-holder {
      margin-top: 100px;
      margin-bottom: 100px;
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      


      &__icon1{
        display: flex;
        align-self: center;
        justify-self: center;
      }

      &__icon2{
        display: flex;
        align-self: center;
        justify-self: center;
      }

      &__icon3{
        display: flex;
        align-self: center;
        justify-self: center;
      }

      &__icon4{
        display: flex;
        align-self: center;
        justify-self: center;
      }

      &__txt1 {
        display: flex;
        align-self: center;
        justify-self: center;
      }

      &__txt2 {
        display: flex;
        align-self: center;
        justify-self: center;
      }

      &__txt3 {
        display: flex;
        align-self: center;
        justify-self: center;
      }

      &__txt4 {
        display: flex;
        align-self: center;
        justify-self: center;
      }
      



    }

  }

}