#contact-page {
  font-family: $font-one;
  position: relative;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.253);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}