#home-page {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: rgba(128, 128, 128, 0.253);
    
  @media screen and (min-width: 800px) {
    #home-page {
      margin: 1em 2em;
    }
  }
  
  h1, h2 {
    font-family: $font-one;
  }

  h1{
    height:100%;
    grid-row: 2/3;
    grid-column: 2/4;
    font-size: 75px;
    justify-self: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  h2{
    height:100%;
    grid-row: 3/4;
    grid-column: 2/4;
    font-size: 50px;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

  }

  a {
    padding-top: 60px;
    
    & > span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
      bottom: 20px;
    }
  }
}