.stack {
  font-family: $font-one;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.253);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);

// ICONS AND TEXTS NEED SLIGHT ADJUSTMENT TO MAKE IT LOOK RIGHT
  
  &__title {
    grid-column: 4/8;
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    font-size: 75px;
    text-align: center;
  }
  
  &__icon1 {
    grid-column: 2/4;
    grid-row: 5/6;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon2 {
    grid-column: 4/6;
    grid-row: 5/6;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon3 {
    grid-column: 6/8;
    grid-row: 5/6;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon4 {
    grid-column: 8/10;
    grid-row: 5/6;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon5 {
    grid-column: 2/4;
    grid-row: 8/9;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon6 {
    grid-column: 4/6;
    grid-row: 8/9;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon7 {
    grid-column: 6/8;
    grid-row: 8/9;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon8 {
    grid-column: 8/10;
    grid-row: 8/9;
    font-size: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon-txt1 {
    font-size: 30px;
    grid-column: 2/4;
    grid-row: 6/7;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon-txt2 {
    font-size: 30px;
    grid-column: 4/6;
    grid-row: 6/7;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon-txt3 {
    font-size: 30px;
    grid-column: 6/8;
    grid-row: 6/7;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon-txt4 {
    font-size: 30px;
    grid-column: 8/10;
    grid-row: 6/7;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }
  &__icon-txt5 {
    font-size: 30px;
    grid-column: 2/4;
    grid-row: 9/10;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon-txt6 {
    font-size: 30px;
    grid-column: 4/6;
    grid-row: 9/10;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon-txt7 {
    font-size: 30px;
    grid-column: 6/8;
    grid-row: 9/10;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }

  &__icon-txt8 {
    font-size: 30px;
    grid-column: 8/10;
    grid-row: 9/10;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
  }


  a {
    padding-top: 60px;
    
    & > span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
      bottom: 20px;
    }
  }
}



