* {
  margin: 0;
  padding: 0;
  color: azure;

}

body{
  background-image: url(./IMG/DSC_2348.jpg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: auto 3000px;
  background-position-x: center;
  z-index: 0;
  width: 100vw;

}
