* {
  margin: 0;
  padding: 0;
  color: azure;

}

body{
  background-image: url(/DSC_2348.jpg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: auto 2900px;
  background-position-x: center;
  z-index: 0;

}
