.nav {
  font-family: $font-two;
  height: 50px;
  position: fixed;
  width: 100vw;
  max-width: 100vw;
  top: 0;
  right: 0;
  background: hsl(0 0 0 / 0.75);
  display: flex;
  justify-content: flex-end;
  align-items: space-evenly;
  gap: 100px;
  overflow: hidden;
  z-index: 10;

  
  
  &__container {
    width: 600px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
    &__link {
      padding: 10px;
      color: white;
      text-decoration: none;
    }
  }
}
