/* This code is an example of how to make the scroll call to action button */

 .pages > .scroll-btn {
  position: absolute;
  bottom: 20px;
  left: 48.4%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.pages > .scroll-btn:hover {
  opacity: .5;
}





